<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask TODO</title>
    <style>
        body {
            background-color: #b1e3de; /* Change this to the desired color */
        }

        .todo {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>
</head>
<body>
    <h1>Flask TODO</h1>
    <hr>
    <div class="content">
    <form method="post">
        <p>
            <b><label for="content">Todo content</label></b>
        </p>
        <p>
            <input type="text" name="content"
                placeholder="Todo Content"></input>
        </p>

        <p>
            <b><label for="priority">Priority:</label></b>
        </p>
        <p>
            <select id="priority" name="priority">
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
            </select>
        </p>

        <p>
            <b><label for="status">Status:</label></b>
        </p>
        <p>
            <select id="status" name="status">
                <option value="incomplete">Incomplete</option>
                <option value="in progress">In Progress</option>
                <option value="complete">Complete</option>
            </select>
        </p>

        <button type="submit">Submit</button>
    </form>
    {% for todo in todos %}
        <div class="todo">
            <p>{{ todo['content'] }} <i>({{ todo['priority']}})</i> <i>({{ todo['status']}})</i></p>
            <form method="POST" action="{{ url_for('delete', id=todo['_id']) }}" >
                <input type="submit" value="Delete Todo"
                       onclick="return confirm('Are you sure you want to delete this entry?')">
            </form>
        </div>
    {% endfor %}
    </div>
    <br>
    <a href="/logged_in">Go back</a>
</body>
</html>
